//
   Created by jbjares on 03/04/2015.

.container
   .jumbotron
      h1 Multivision
      p Some text here, like blah blah blah...


      .row
         .col-md-6
            div(ng-include="'/partials/featured-courses'")
         .col-md-6
            div(ng-include="'/partials/new-courses'")